name: formatus
description: Formatus - The plain Flutter Rich-Text-Editor for all platforms
version: 2.0.2

homepage: https://www.djarjo.com/formatus
issue_tracker: https://github.com/hlemcke/formatus/issues
repository: https://github.com/hlemcke/formatus

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
